@model WebAppClient.ViewModels.TicketsVM

@{
    ViewData["Title"] = "Index";
}

<h2>All Tickets</h2>

<p>
    @Html.ActionLink("Add New Ticket", "Create")
</p>

@using (Html.BeginForm())
{
    @Html.TextBoxFor(x => x.TextSearch, new { placeholder = "Search", required = "required" })
    @Html.ValidationMessageFor(x => x.TextSearch)
    <button type="submit">Search</button>
}

<input type="button"
       id="filterButton"
       value="Filter"
       onclick="location.href='@Url.Action("Index", "TicketController")'" />

<table class="table">
    <thead>
        <tr>
            
            <th>
                <p>Id</p>
            </th>
            <th>
                <p>Date</p>
            </th>
            <th>
                <p>Subject</p>
            </th>
            <th>
                <p>User</p>
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.lstTickets.OrderByDescending(item => item.Priority).ThenByDescending(x => x.DateTime))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                <td>
                    @Html.DisplayFor(modelItem => item.DateTime)
                <td>
                    @Html.DisplayFor(modelItem => item.Subject)
                <td>
                    @Html.DisplayFor(modelItem => item.User)
                <td>
                    @Html.ActionLink("Edit", "Edit", new { Id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { Id = item.Id })
                </td>
            </tr>
        }
    </tbody>

</table>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
